html, body, #root {
  height: 100vh;
  padding: 0;
  margin: 0;
}

#content {
  display: flex;
  position: absolute;
  top: 60px;
  bottom: 30px;
  left: 0;
  right: 0;
}

#content > div {
  flex: 1;
  overflow: auto;
}

header {
  background-color: rgb(236, 117, 117);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header {
  width: 50%;
  height: auto;
}

footer {
  background-color: rgb(89, 87, 96);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
}

#flex-one {
  background-color: rgb(97, 237, 198);
}

#flex-two {
  background-color: rgb(98, 57, 83);
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  margin: 0;
  padding: 0;
}
