header {
  height: 30px;
}
.main-header {
  height: 60px;
}

.no-padding {
  padding-left: 0!important;
  padding-right: 0!important;
}

.scroller {
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.screensize {
  height: calc(100vh - 90px);
}

.textarea {
  /*background-color: rgb(225, 171, 250);*/
}

.previewarea {
  /*background-color: rgb(141, 179, 143);*/
  position: relative;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
}
